@import "tailwindcss";
@import 'vue3-toastify/dist/index.css';

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(247 254 231);
}
.bgColor {
  background-color: rgb(247 254 231);
}
.router-link-active {
    @apply bg-gray-100 transition-colors sm:bg-transparent sm:text-gray-500;
}